@model Product

@section styles{ @*bunu ona gore yazdiqki burda yazilan css shared papkasinda loayout.cshtml icerisinde render ede bilek*@
<style>
    label {
        color: red;
    }
</style>
}

<form method="post" enctype="multipart/form-data">
    <div style="height:800px;">

        <div class="mb-3">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" style="width:600px;">
                @foreach (var item in ViewBag.Categorys)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="intro-y box p-5">
            @*<div class="form-group">
                    <label asp-for="BooksID" class="font-weight-600">Practice Area</label>
                    <select asp-for="BooksID" class="form-select" asp-items="@(new SelectList(ViewBag.Packets, "ID", "Name"))">
                    </select>
                    <span asp-validation-for="BooksID"></span>
                </div>*@
            <div class="mt-3 " id="skill" style=" border: 1px solid #cfcfcf !important;   padding: 20px 40px 20px 20px; border:5px; position:relative;">
                <span id="addSkill" style="cursor:pointer; position:absolute; right:40px; top:0px; font-size:25px; font-weight:700; color:#1c3faa">+</span>
                <div class="skill-item" style="position:relative;">
                    <label asp-for="ColorId">components</label>
                    <div class="mt-2">
                        <select asp-for="ColorId" asp-items="@(new SelectList(ViewBag.Color, "Id", "Name"))" data-placeholder="Select your favorite actors" class="select2 w-full">
                            <option selected="" disabled>Select Skill</option>
                        </select>
                    </div>
                    <span class="deleteSkill" style="cursor:pointer; position:absolute; right:-20px; bottom:4px;font-size: 25px; font-weight: 700;color: red;">x</span>

                </div>
                <hr style="margin:10px 0px" />
                <div class="text-right mt-5">
                    <a asp-area="admin" asp-controller="teacher" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                    @*<button type="submit" class="button w-24 bg-theme-1 text-white">Create</button>*@
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label>Image</label>
            <input type="file" class="form-control" asp-for="Photo">
            <span asp-validation-for="Photo" style="color:red"></span>
        </div>
        <div class="form-group">
            <label asp-for="GalleryFiles" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="GalleryFiles" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <textarea class="form-control" asp-for="Name"></textarea>
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label>PresentPrice</label>
            <input type="text" class="form-control" asp-for="PresentPrice">
            <span asp-validation-for="PresentPrice" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label>PastPrice</label>
            <input type="text" class="form-control" asp-for="PastPrice">
            <span asp-validation-for="PastPrice" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="mt-3 " id="skill" style=" border: 1px solid #cfcfcf !important;   padding: 20px 40px 20px 20px; border:5px; position:relative;">
            <span id="addSkill" style="cursor:pointer; position:absolute; right:40px; top:0px; font-size:25px; font-weight:700; color:#1c3faa">+</span>
            <div class="skill-item" style="position:relative;">
                <label asp-for="SizeId">components</label>
                <div class="mt-2">
                    <select asp-for="SizeId" asp-items="@(new SelectList(ViewBag.Size, "id", "Name"))" data-placeholder="Select your favorite actors" class="select2 w-full">
                        <option selected="" disabled>Select Skill</option>
                    </select>
                </div>
                <span class="deleteSkill" style="cursor:pointer; position:absolute; right:-20px; bottom:4px;font-size: 25px; font-weight: 700;color: red;">x</span>

            </div>
            <hr style="margin:10px 0px" />
            <div class="text-right mt-5">
                <a asp-area="admin" asp-controller="teacher" asp-action="index" class="button w-24 border text-gray-700 mr-1">Cancel</a>
                @*<button type="submit" class="button w-24 bg-theme-1 text-white">Create</button>*@
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-bottom:50px;">Submit</button>
    </div>
</form>

@section scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor5/32.0.0/ckeditor.min.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#Description')).catch(error => {
            console.error(error);
        });
    </script>
}
