@model HomeVm
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <main class="main">
        <div class="intro-slider-container mb-5">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                 data-owl-options='{
                        "dots": true,
                        "nav": false,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                @foreach (var item in Model.Deals)
                {

                    <div class="intro-slide" style="background-image:url(images/Deals/@item.Image)">
                        @*<img src="~/images/Deals/@item.Image" />*@
                        <div class="container intro-content">
                            <div class="row justify-content-end">
                                <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                    <h3 class="intro-subtitle text-third">@item.Title</h3><!-- End .h3 intro-subtitle -->
                                    <h1 class="intro-title">@item.Name</h1>

                                    <div class="intro-price">
                                        @if (item.PastPrice != 0)
                                        {
                                            <sup class="intro-old-price">$@item.PastPrice</sup>

                                        }
                                        <span class="text-third">
                                            $@item.PresentPrice
                                        </span>
                                    </div><!-- End .intro-price -->

                                    <a href="category.html" class="btn btn-primary btn-round">
                                        <span>Shop More</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .col-lg-11 offset-lg-1 -->
                            </div><!-- End .row -->
                        </div><!-- End .intro-content -->
                    </div><!-- End .intro-slide -->
                }
            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <div class="container">
            <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->

            <div class="cat-blocks-container">
                <div class="row">
                    @foreach (var item in Model.Categories)
                    {

                        <div class="col-6 col-sm-4 col-lg-2">
                            <a href="/category/index/@item.Id" class="cat-block">
                                <figure>
                                    <span>
                                        <img src="~/images/products/@item.Image" alt="Category image" style="height:80px;">
                                    </span>
                                </figure>

                                <h3 class="cat-block-title">@item.Name</h3><!-- End .cat-block-title -->
                            </a>
                        </div><!-- End .col-sm-4 col-lg-2 -->
                    }
                </div><!-- End .row -->
            </div><!-- End .cat-blocks-container -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <div class="row justify-content-center">
                @foreach (var item in Model.Deals)
                {
                    <div class="col-md-6 col-lg-4">


                        <div class="banner banner-overlay banner-overlay-light">
                            <a href="#">
                                <img src="~/images/Deals/@item.Image" style="height:150px;" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle"><a>@item.Title</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title"><a href="#" style="color:red;">$@item.PresentPrice <strong>@item.Name</strong></a></h3><!-- End .banner-title -->
                                <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div>
                        <!-- End .banner -->
                    </div>
                }<!-- End .col-md-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-3"></div><!-- End .mb-5 -->

        <div class="container new-arrivals">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">New Arrivals</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                        @foreach (var item in Model.Categories)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="@(item.className+1)" data-toggle="tab" href="#@item.className" role="tab" aria-controls="@item.className" aria-selected="true">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel just-action-icons-sm">
                <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                        @foreach (var item in Model.Products)
                        {

                            <div class="product product-2">

                                <figure class="product-media">
                                    @if (item.Reviews.Count >= 2)
                                    {
                                        <span class="product-label label-circle label-top">Top</span>
                                    }
                                    @if (item.Percent != 0)
                                    {
                                        <span class="product-label label-circle label-sale">@item.Percent %</span>
                                    }
                                    <a href="/Product/details/@item.Id">
                                        <img src="~/images/categories/@item.Image" alt="Product image" style="height:140px;" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a asp-action="Buy" asp-controller="Wish" asp-route-id="@item.Id" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a asp-action="Buy" asp-controller="Cart" asp-route-id="@item.Id" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">@item.category.Name</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">@item.Name</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        @item.PresentPrice
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( @item.Reviews.Count Reviews )</span>
                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->

                            </div>
                            <!-- End .product -->
                        }<!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div>

                @foreach (var item2 in Model.Categories)
                {
                    <div class="tab-pane p-0 fade show " id="@item2.className" role="tabpanel" aria-labelledby="@(item2.className+1)">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                             data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                            @foreach (var item in item2.Products)
                            {

                                <div class="product product-2">

                                    <figure class="product-media">
                                        <span class="product-label label-circle label-top">Top</span>
                                        <a href="product.html">
                                            <img src="~/images/categories/@item.Image" alt="Product image" style="height:140px;" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">@item.category.Name</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">@item.Name</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            @item.PresentPrice
                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 4 Reviews )</span>
                                        </div><!-- End .rating-container -->
                                    </div><!-- End .product-body -->

                                </div>
                                <!-- End .product -->
                            }
                        </div>
                    </div>
                }
                <!-- .End .tab-pane -->
            </div>
        </div><!-- End .container -->

        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">
            <div class="cta cta-border mb-5" style="background-image: url(assets/images/demos/demo-4/bg-1.jpg);">
                <img src="~/assets/images/demos/demo-4/camera.png" alt="camera" class="cta-img">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="cta-content">
                            <div class="cta-text text-right text-white">
                                <p>Shop Today’s Deals <br><strong>Awesome Made Easy. HERO7 Black</strong></p>
                            </div><!-- End .cta-text -->
                            <a href="#" class="btn btn-primary btn-round"><span>Shop Now - $429.99</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .cta-content -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .cta -->
        </div><!-- End .container -->

        <div class="container">
            <div class="heading text-center mb-3">
                <h2 class="title">Deals & Outlet</h2><!-- End .title -->
                <p class="title-desc">Today’s deal and more</p><!-- End .title-desc -->
            </div><!-- End .heading -->

            <div class="row">
                @foreach (var item in Model.Deals)
                {

                    <div class="col-lg-6 deal-col">
                        <div class="deal" style="background-image: url(images/Deals/@item.Image);">
                            <div class="deal-top">
                                <h2>@item.Title</h2>
                                <h4>@item.Name </h4>
                            </div><!-- End .deal-top -->

                            <div class="deal-content">
                                <h3 class="product-title"><a href="product.html">Home Smart Speaker with  Google Assistant</a></h3><!-- End .product-title -->

                                <div class="product-price">
                                    <span class="new-price">$@item.PresentPrice</span>
                                    <span class="old-price">$@item.PastPrice</span>
                                </div><!-- End .product-price -->

                                <a href="product.html" class="btn btn-link"><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .deal-content -->

                            <div class="deal-bottom">
                                <div class="deal-countdown daily-deal-countdown" data-until="+@item.Date h"></div><!-- End .deal-countdown -->
                            </div><!-- End .deal-bottom -->
                        </div><!-- End .deal -->
                    </div><!-- End .col-lg-6 -->
                }
            </div><!-- End .row -->

            <div class="more-container text-center mt-1 mb-5">
                <a href="#" class="btn btn-outline-dark-2 btn-round btn-more"><span>Shop more Outlet deals</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .more-container -->
        </div><!-- End .container -->

        <div class="container">
            <hr class="mb-0">
            <div class="owl-carousel mt-5 mb-5 owl-simple" data-toggle="owl"
                 data-owl-options='{
                        "nav": false,
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
                @foreach (var item in Model.Fabricas)
                {
                    <a href="#" class="brand">
                        <img src="~/images/Fabrica/@item.Image" alt="Brand Name">
                    </a>
                }

            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->

        <div class="bg-light pt-5 pb-6">
            <div class="container trending-products">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">Trending Products</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="trending-top-link" data-toggle="tab" href="#trending-top-tab" role="tab" aria-controls="trending-top-tab" aria-selected="true">Top Rated</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="trending-sale-link" data-toggle="tab" href="#trending-sale-tab" role="tab" aria-controls="trending-sale-tab" aria-selected="false">On Sale</a>
                            </li>
                        </ul>
                    </div><!-- End .heading-right -->
                </div><!-- End .heading -->
                <div class="row">
                    <div class="col-xl-5col d-none d-xl-block">
                        <div class="banner">
                            <a href="#">
                                <img src="~/assets/images/demos/demo-4/banners/banner-4.jpg" alt="banner">
                            </a>
                        </div><!-- End .banner -->
                    </div><!-- End .col-xl-5col -->

                    <div class="col-xl-4-5col">
                        <div class="tab-content tab-content-carousel just-action-icons-sm">
                            <div class="tab-pane p-0 fade show active" id="trending-top-tab" role="tabpanel" aria-labelledby="trending-top-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                     data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                    @foreach (var item in Model.Products)
                                    {
                                        if (item.Reviews.Count >= 2)
                                        {
                                            <div class="product product-2">
                                                <figure class="product-media">
                                                    <span class="product-label label-circle label-top">Top</span>
                                                    <a href="/product/details/@item.Id">
                                                        <img src="~/images/categories/@item.Image" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                                    </div><!-- End .product-action -->

                                                    <div class="product-action">
                                                        <a asp-action="buy" asp-controller="Cart" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">@item.category.Name</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">@item.Name</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $ @item.PresentPrice
                                                    </div><!-- End .product-price -->
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( @item.Reviews.Count Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-nav product-nav-dots">
                                                        @foreach (var color in item.ProductsToColors)
                                                        {
                                                            <a href="#" style="background: @color.color.Name;"><span class="sr-only">Color name</span></a>

                                                        }

                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->

                                        }
                                    }
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane p-0 fade" id="trending-sale-tab" role="tabpanel" aria-labelledby="trending-sale-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                     data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                    @foreach (var item in Model.Products)
                                    {
                                        if (item.Percent != 0)
                                        {

                                            <div class="product product-2">
                                                <figure class="product-media">
                                                    <span class="product-label label-circle label-new">@item.Percent%</span>
                                                    <a href="product.html">
                                                        <img src="~/images/categories/@item.Image" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                                    </div><!-- End .product-action -->

                                                    <div class="product-action">
                                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                                    </div><!-- End .product-action -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">@item.category.Name</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="product.html">@item.Name</a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        $@item.PresentPrice
                                                    </div><!-- End .product-price -->
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                                        </div><!-- End .ratings -->
                                                        <span class="ratings-text">( 4 Reviews )</span>
                                                    </div><!-- End .rating-container -->

                                                    <div class="product-nav product-nav-dots">
                                                        @foreach (var color in item.ProductsToColors)
                                                        {
                                                            <a style="background: @color.color.Name;"><span class="sr-only">Color name</span></a>
                                                        }
                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        }
                                    }
                                </div><!-- End .owl-carousel -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .col-xl-4-5col -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .bg-light pt-5 pb-6 -->

        <div class="mb-5"></div><!-- End .mb-5 -->

        <div class="container for-you">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">Recommendation For You</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <a href="#" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="products">
                <div class="row justify-content-center">
                    @foreach (var item in Model.Products)
                    {

                        <div class="col-6 col-md-4 col-lg-3">

                            <div class="product product-2">
                                <figure class="product-media">
                                    @if (item.Percent != 0)
                                    {
                                        <span class="product-label label-circle label-sale">@item.Percent%</span>
                                    }
                                    <a href="/Product/Details/@item.Id">
                                        <img src="~/images/categories/@item.Image" style="height:150px;" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div><!-- End .product-action -->

                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">@item.category.Name</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="product.html">@item.Name</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$@item.PresentPrice</span>
                                        @if (item.PastPrice != 0)
                                        {
                                            <span class="old-price">Was $@item.PastPrice</span>
                                        }
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <span class="ratings-text">( @item.Reviews.Count Reviews )</span>
                                    </div><!-- End .rating-container -->

                                    <div class="product-nav product-nav-dots">
                                        @foreach (var color in item.ProductsToColors)
                                        {
                                            <a href="#" style="background: @color.color.Name;"><span class="sr-only">Color name</span></a>
                                        }
                                    </div><!-- End .product-nav -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->

                        </div>
                    }<!-- End .col-sm-6 col-md-4 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <hr class="mb-0">
        </div><!-- End .container -->

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model.Properties)
                    {
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    @Html.Raw(item.Iconlink)
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">@item.Name</h3><!-- End .icon-box-title -->
                                    <p>@item.Descripiton</p>
                                </div><!-- End .icon-box-content -->
                            </div><!-- End .icon-box -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    }
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->
    </main>
</div>
