@{
    List<ProductsToColors> packetToColor = ViewBag.PacketToColor;
}
<div class="main-content-wrap compaer-page">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="compaer-page--inner">
                    <form action="#">

                        <!-- Compare Table -->
                        <div class="compare-table table-responsive">

                            <table class="table mb-0">
                                @if (ViewBag.comp != null)
                                {

                                    <tbody>


                                        <tr>
                                            <td class="first-column">Product</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="product-image-title">
                                                    <a href="#" class="image"><img style="width:150px;height:100px;" src="~/images/categories/@item.Product.Image" alt="Compare Product"></a>
                                                    <a href="#" class="title">@item.Product.Name</a>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Category</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-desc">
                                                    <a href="#" class="category">@item.Product.category.Name</a>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Description</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-desc">

                                                    <p>@Html.Raw(item.Product.Description)</p>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Information</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-desc" style="width:300px;">
                                                    @if (item.Product.Information != null)
                                                    {
                                                        <p>@Html.Raw(item.Product.Information)</p>

                                                    }
                                                    else
                                                    {
                                                        <p>Melumat yoxdur</p>

                                                    }

                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Color</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-desc" style="width:300px;">
                                                    @foreach (var item2 in packetToColor)
                                                    {

                                                        @if (item.Product.Id == item2.ProductId)
                                                        {
                                                            <p>@Html.Raw(item2.color.Name + ",")</p>

                                                        }
                                                    }
                                                </td>
                                            }
                                        </tr>

                                        <tr>
                                            <td class="first-column">percent</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                if (item.Product.Percent != 0)
                                                {
                                                    <td class="pro-price">@item.Product.Percent</td>
                                                }
                                                else
                                                {
                                                    <td class="pro-price">Melumat yoxdur</td>

                                                }
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Price</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-price">@item.Product.PresentPrice</td>

                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Past Price</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                @if (item.Product.PastPrice != 0)
                                                {
                                                    <td class="pro-price">@item.Product.PastPrice</td>
                                                }
                                                else
                                                {
                                                    <td class="pro-price">Melumat yoxdur</td>

                                                }

                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Color</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-color">Black</td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Stock</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-stock">In Stock</td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Add to cart</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-addtocart"><a asp-action="buy" asp-controller="cart" asp-route-id="@item.Product.Id" class="add-to-cart" tabindex="0"><span>ADD TO CART</span></a></td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="first-column">Delete</td>
                                            @foreach (var item in ViewBag.comp)
                                            {
                                                <td class="pro-remove"><button><i class="fas fa-trash"></i></button></td>
                                            }
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>